body {
  background: rgb(193, 35, 7);
  background: linear-gradient(90deg, rgba(193, 35, 7, 1) 0%, rgba(131, 58, 180, 1) 97%);
}

.intro, .about-me {
  padding-top: 10%;
  padding-bottom: 10%;
}

/* Navbar */
.collapse {
  padding-left: 35%;
  font-size: 1.8rem;

}

.navh1 {
  margin-left: 100%;
}

.nav-item {
  margin: 0 10px 0 10px;
}
/* images */
img {
  width: 100%;
  height: 100%;
  animation: waveanim 1s linear infinite alternate;
}

h1,h5 {
  font-family: 'Merriweather', serif;
  color: white;
  font-size: 1.5rem;
}
/* Intro Section */
.introp1 {
  font-family: 'Montserrat', sans-serif;
  color: #e6b222;
  font-size: 1rem;
  margin-bottom: 30px;
}

.intro p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.introp2 {
  margin-top: 30px;
  color: white;
}

/* about me */
.about-me h1, h4 {
  color: #25316D;
}

.about-me p {
  margin-top: 10%;
  color: #E94560;
}

.whitebg {
  background-color: white;
}

.achievements {
  display: inline;
  float: left;
  margin-top: 15%;
}

.achievements h3 {
  text-align: center;
  color: #25316D;
}

.achievements p {
  font-size: 20px;
  text-align: center;
}

.introimg {
  width: 100%;
}

hr {
  width: 35%;
  border: dotted #EAF6F6 6px;
  border-bottom: none;
}

/* Specialization */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 5rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
  text-align: center;
}

.fa-solid:hover{
  color: #E94560;
}
.white-section h2{
  color: #25316D;
  font-size: 2rem;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.white-section h3{
  color: #25316D;
  font-size: 1.3rem;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.card{
  padding: 15%;
}

/* Testimonial Section */
#testimonials {
  margin-top: 10%;
}

.testh1 {
  text-align: center;
  color: #25316D;
}

.test-h2 {
  color: #E94560;
  font-size: 1.3rem;
}

.test-p {
  text-align: center;
}

.carousel-item {
  height: 600px;
  padding: 7% 15%;
}

.shop-button {
  margin: 15% 3% 0 2%;
}

.nav-link{
  color: white;
}
footer{
  color: white;
  font-family: Montserrat;
  padding-left: 15%;
  margin-top: 30%;
}
.nav li a{
    color: white;
}
.nav li a:hover{
    color: white;
}
.end{
  text-align: center;
  color: white;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #25316D;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #25316D;
}

/* button */
.btn {
  background: #f0bc2d;
  background-image: -webkit-linear-gradient(top, #f0bc2d, #e0ad20);
  background-image: -moz-linear-gradient(top, #f0bc2d, #e0ad20);
  background-image: -ms-linear-gradient(top, #f0bc2d, #e0ad20);
  background-image: -o-linear-gradient(top, #f0bc2d, #e0ad20);
  background-image: linear-gradient(to bottom, #f0bc2d, #e0ad20);
  -webkit-border-radius: 56;
  -moz-border-radius: 56;
  border-radius: 56px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 30px;
  padding: 20px 40px 20px 40px;
  text-decoration: none;
  margin-top: 10px;
}

.btn:hover {
  background: #f5be27;
  background-image: -webkit-linear-gradient(top, #f5be27, #e6ae15);
  background-image: -moz-linear-gradient(top, #f5be27, #e6ae15);
  background-image: -ms-linear-gradient(top, #f5be27, #e6ae15);
  background-image: -o-linear-gradient(top, #f5be27, #e6ae15);
  background-image: linear-gradient(to bottom, #f5be27, #e6ae15);
  text-decoration: none;
}

.kmbtn {
  margin-top: 20px;
  font-size: 50px;
}


.btn1 {
  background: #E94560;
  background-image: -webkit-linear-gradient(top, #E94560, #fc4463);
  background-image: -moz-linear-gradient(top, #E94560, #fc4463);
  background-image: -ms-linear-gradient(top, #E94560, #fc4463);
  background-image: -o-linear-gradient(top, #E94560, #fc4463);
  background-image: linear-gradient(to bottom, #E94560, #fc4463);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  border: solid #de3350 2px;
  text-decoration: none;
}

.btn1:hover {
  background: #eb6178;
  background-image: -webkit-linear-gradient(top, #eb6178, #d61c3b);
  background-image: -moz-linear-gradient(top, #eb6178, #d61c3b);
  background-image: -ms-linear-gradient(top, #eb6178, #d61c3b);
  background-image: -o-linear-gradient(top, #eb6178, #d61c3b);
  background-image: linear-gradient(to bottom, #eb6178, #d61c3b);
  text-decoration: none;
}

#myBtn {
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 1rem;
  background: #e3a814;
  padding: 12px 12px 12px 12px;
  text-decoration: none;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background: #f5be27;
  background-image: -webkit-linear-gradient(top, #f5be27, #c79310);
  background-image: -moz-linear-gradient(top, #f5be27, #c79310);
  background-image: -ms-linear-gradient(top, #f5be27, #c79310);
  background-image: -o-linear-gradient(top, #f5be27, #c79310);
  background-image: linear-gradient(to bottom, #f5be27, #c79310);
  text-decoration: none;
}
